


@media (min-width: 768px) { /* Adjust the breakpoint to your project's specification */
  .file-uploader { /* Ensure this class is added to your component's className */
    min-width: 530px;
  }
}

.tip-card {
  border-width: 0 0 4px 0;
  border-style: solid;
  width: 305px;
  height: 220px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.tip-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
